#accueil-global-container{
    margin-top:20px;
}

/* TOP IMAGE */
#accueil-img-container {
    height: 140px;
    margin: 0;
    background-image: url("../img/falaise_mer.png");
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    align-items: center;
    text-align: center;
}
#accueil-img-desc{
    color: white;
    margin: 0;
    font-size: 2rem;
    line-height: 1;
}
@media screen and (max-width : 463px)
{
    #accueil-img-container{
        text-align:left;
        font-size: 1.6rem;
    }
}

/* LOGEMENTS */
#logementCard-container{
    margin: 20px 0px;   
    padding: 40px;
    border-radius: 15px;
    background-color: #F6F6F6;
}
.logementCard-col-wrapper{
    margin:0;
}
.logementCard {
    display: flex;
    border-radius: 15px;
    height: 200px;
    margin: 10px 0px;
    padding: 10px;
    background-size: cover;
    background-position: center;
    color: white;
}
.logementCard-desc-container{
    display: flex;
}
.logementCard-desc-text{
    align-self:flex-end;
    padding:0;
    margin:0;
    line-height: 1;
}
@media screen and (max-width : 575px)
{
    #logementCard-container{
        background-color: white;
        justify-content: space-between;
        padding:0px;
    }
    .logementCard {
        padding-right: 10px;
    }
    .logementCard-col-wrapper{
        padding:0;
    }
}
