#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#content{
    flex: 1 0 auto;
}
/* Change default font */
html * {
    font-family: Montserrat;
}

/* Remove default anchor style */
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color:black; 
    text-decoration:none; 
    cursor:pointer;  
}
